:root {
    --main-Blue: #0BA1D0;
    --lightBlue: #8696BB;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*main style*/
.w-fit {
    width: fit-content;
}

/*main style*/
.h-fit {
    height: fit-content;
}

nav .btn-signup {
    background-color: #0BA1D0 !important;

    border-radius: 5px !important;
    padding: 8px 60px;
}

.dropdown-menu {
    display: block !important;
    transition: .3s height ease-in-out;
    min-width: fit-content !important;
    top: 100% !important;
    height: 0;
    padding: 0 !important;
    margin: 0 !important;
}

.dropdown-menu.show {
    height: 75px;
    padding: 0.5rem 0;
}

.dropdown-menu .dropdown-item {
    min-width: 150px;
}

button.sign-up {
    color: #0BA1D0;
}

@media screen and (max-width: 1200px) {
    ul.navbar-nav {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center;
        justify-content: center;
    }

    ul.navbar-nav li {
        text-align: center;
        width: 100%;
    }

    .sign-up-link {
        width: 100%;

    }

    ul.navbar-nav .btn-group {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    ul.navbar-nav .btn-signup {
        width: 100%;

    }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {

    li.nav-item {
        font-size: 13px;
    }

    nav .btn {
        font-size: 12px;
    }
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
    border-color: transparent !important;
    box-shadow: none !important;
}

.dropdown-toggle::after {
    margin-right: 0.255em;
}

.dropdown-menu li {
    transition: .3s all linear !important;
    box-shadow: none;
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 95% !important;
    }
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
    height: 45%;
    transform: none;
    top: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 40px;

    width: calc(50% - 40px);

    right: 0;
}

.swiper-pagination-bullet-active {
    /* transform: translateY(-100px); */
    transition: 0.5s all ease;
    flex-grow: 1;
    background-color: transparent !important;
    /* order: 1 !important; */
    width: 100%;
}

.swiper-pagination-bullet {
    background-color: transparent !important;
    /* order: 2; */
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 15px) 0 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet div {

    border-radius: 50%;
    transition: 0.5s all ease;
    width: 20px;
    height: 20px;
    float: right;

    z-index: 9999;
    position: relative;
    opacity: 1 !important;
    color: #007aff;
    background: #fff !important;
    font-size: 20px;

    font-weight: bold;


    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-pagination-bullet-active div {
    color: #fff;
    background: #007aff !important;

    transition: 0.5s all ease;
}

.swiper-pagination-bullet {
    transition: 0.5s all ease;
}

.swiper-pagination-bullet {
    width: 100%;
    float: right;
}

.swiper-pagination-bullet::after {
    content: attr(data-descrabtion);
    position: absolute;
    right: 80px;
    font-size: 20px;
    color: #828282;
}

.swiper-pagination-bullet::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 95%;
    background-color: transparent;
    border-right: 5px #0ba1d0;
    border-right-style: dashed;
    right: 50px;
    z-index: -1;
    top: 10px;
}

.swiper-pagination-bullet-active::after {
    color: #000;
    font-weight: bold;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.how-do-we-work-slider {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #fff;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.how-do-we-work {
    width: 80%;
    height: 600px;
    margin: 100px auto;
    border-radius: 20px;
}

.fit-cover {
    object-fit: cover;
}

.first-section-in-home-slider-section {
    height: 75vh;
}
.first-section-in-home-slider-section .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: fit-content !important;
    right: 100px;
    left: auto !important;
    font-size: 15px;

}
.first-section-in-home-slider-section .mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    background: linear-gradient(269.87deg, rgba(0, 0, 0, 0.45) 0.1%, rgba(0, 0, 0, 0) 59.15%);
}
.first-section-in-home-slider-section .row-pagination {
    height: 50px;
    z-index: 99999999;
    bottom: 15%;
    position: absolute;
    width: 100%;
    left: 0;
}
.z-index-99{
    z-index: 999999;
}
.first-section-in-home-slider-section .row-pagination  .box-pagination.col-12 * {
    position: relative !important;
    width: fit-content !important;
    left: auto !important;
    right: auto !important;
}
.bottom-15 {
    bottom: 15%;
}
.first-section-in-home-slider-section .swiper-button-prev, .swiper-button-next{
    top: 0 !important;
    margin: 0 !important;
}
.first-section-in-home-slider-section .swiper-button-prev:after, .swiper-button-next:after{
    display: none;
}
@media screen and (max-width: 768px) {

    .first-section-in-home-slider-section {
        height: 350px;
    }
}


/*end home*/


/*start gallery */
#gallery-page
.box-image:hover .lightbox:before {
    background-color: red;
    opacity: 1;
    background-color: #25abd585;
    opacity: 1;
    border: 20px solid #fff;
    font-size: 50px;

}

a.lightbox {

}

#gallery-page
.tz-gallery .lightbox:before {
    position: absolute;
    border: 20px solid transparent;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 5px;
    content: '\2924';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#gallery-page
.tz-gallery .lightbox img {
    transition: .3s all ease-in-out;
    width: 100%;
    position: relative;
    height: 300px;
    object-fit: cover;
}

#gallery-page
.baguetteBox-button {
    background-color: transparent !important;
}

@media screen and (max-width: 768px) {
    .tz-gallery .lightbox img {
        height: fit-content
    }
}


/*profile-page */


#profile-page .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--main-Blue) !important;
    color: var(--main-Blue) !important;

    background-color: #fff !important;
    border-color: transparent transparent var(--main-Blue) !important;
}

#profile-page .nav-tabs .nav-item .nav-link {
    color: var(--lightBlue);

}

#profile-page
.nav.nav-tabs {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 9999;
}

#profile-page
.tab-content {
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

#profile-page
.tab-content::-webkit-scrollbar {
    display: none;
}

#profile-page
#points
.progres.chart svg circle {

    stroke: #D9D9D9;
    stroke-width: 13%;
    mix-blend-mode: darken;
}

#profile-page
#points
.progres.chart svg text {
    font-weight: bold;
    font-family: Cairo;
}

#profile-page
#points
.number-of-point-span {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #BDBDBD;
    font-size: 30px;
    font-weight: bold;
}

@media screen and (max-width: 425px) {
    ul.nav.nav-tabs {
        align-items: center;
        justify-content: center;

    }

    #profile-page .progres.chart {
        transform: scale(.5);
    }

    #profile-page #points {
        height: fit-content !important;
    }
}


#profile-page #points #name {
    color: var(--main-Blue);
}

#profile-page #points .content
P {
    font-size: 25px;
    line-height: 47px;
    color: #383838;
}

/*footer*/
footer {
    height: 170px;
    background: #0BA1D0;
}

footer .social-media-section h4 {
    font-size: 18px;
    font-weight: 100;
}


@media screen and (max-width: 1200px) {
    footer {
        height: fit-content !important;
    }

    footer .social-media-section {
        order: 2;
    }

    footer .contact-numbers {
        order: 3;
    }

    footer .logo-footer {
        width: 100%;
        order: 1;
    }

    footer .all-rights-reserved {
        order: 5;
    }

    footer .privacy {
        order: 4;
    }
}
